<form
[formGroup]="fg"
(ngSubmit)="guardar(
fg.controls['nombre'].value,
fg.controls['url'].value)">
	<div class="form-group">
		<label for="nombre">Nombre</label>
		<input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." [formControl]="fg.controls['nombre']">
		<!--<div *ngIf="!fg.controls['nombre'].valid">Nombre invalido.</div>-->
		<div *ngIf="fg.controls['nombre'].hasError('required')">Nombre requerido!</div>
		<div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">Nombre invalido!</div>
		<div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">Nomre debe tener mínimo {{minLongitud}} de largo!</div>
	</div>
	<div class="form-group">
		<label for="Imagen Url">Imagen Url</label>
		<input type="text" class="form-control" id="url" placeholder="Ingresar url..." [formControl]="fg.controls['url']">
		<div *ngIf="!fg.controls['url'].valid">Url invalido.</div>
		<div *ngIf="fg.controls['url'].hasError('required')">Error.</div>
	</div>
	<button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
	<!--(click)="guardar(nombre.value,url.value)"-->
</form>
